html {
  font-family: sans-serif;
  font-size: 40px;
}

input {
  border: 5px solid black;
  font-size: 40px;
}


input.validInput {
  border: 5px solid green;
}

input.invalidInput {
  border: 5px solid red;
}


button {
  font-size: 40px;
  background: #ddd;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 5px 0 5px;
}
