html {
  font-family: sans-serif;
  font-size: 19px;
}

input {
  border: 3px solid black;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px 0 10px 0;
  width: 100%;
  padding: 5px;
}

.error {
  color: white;
  background: red;
}

.example-input {
  margin: 0;
  color: #999;
  font-size: 5vw;
}

input.validInput {
  border: 3px solid green;
}

input.invalidInput {
  border: 3px solid red;
}

.result {
  font-size: 4vw;
  background: #8d8;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 15px;
  min-height: 45px;
  text-align: center;
}

.result.empty {
  background: #ddd;
}

.result.dec {
  font-size: 6vw;
}

.result.dms {
  font-size: 6vw;
}

.result.w3w {
  font-size: 6vw;
  line-height: 2em;
}

.map-button-link {
  cursor: pointer;
  color: white;
  font-weight: bold;
  line-height: 2;
}

.switch-view-button {
  height: 2em;
  background: #66f;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin: 10px 0 10px 0;
  cursor: pointer;
}

.map-button {
  height: 2em;
  background: #f00;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.map-button-disabled {
  background: #ddd;
  color: #333;
  border: none;
}

#input {
  box-sizing: border-box;
}

button.symbol {
  vertical-align: middle;
  font-size: 30px;
  background: #ddd;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px 5px 5px 5px;
  width: 1em;
  height: 40px;
}

button.clear {
  vertical-align: middle;
  font-size: 20px;
  background: #ddd;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px 5px 5px 25px;
  height: 40px;
}



.input-area {
  margin-bottom: 1em;
}

.result-header {
  font-weight: bold;
}

input::placeholder {
  color: #999;
}

h1 {
  font-size: 32px;
  margin-bottom: 0;
}

#spinner, #radar {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

h2 {
  font-size: 7.8vw;
}
